.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

maps/src/main/res/values/api_keys.xml
# added in the root gitignore as well to test if it still gets committed on subsequent commits
