<?xml version="1.0" encoding="utf-8"?>
<manifest
	package = "com.nullcognition.analytics"
	xmlns:android = "http://schemas.android.com/apk/res/android"
	>

	<uses-permission android:name = "android.permission.INTERNET"/>
	<uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE"/>

	<application
		android:allowBackup = "true"
		android:icon = "@mipmap/ic_launcher"
		android:label = "@string/app_name"
		android:theme = "@style/AppTheme"
		>

		<meta-data
			android:name = "com.google.android.gms.version"
			android:value = "@integer/google_play_services_version"
			/>

		<activity
			android:label = "@string/app_name"
			android:name = ".MainActivity"
			>
			<intent-filter>
				<action android:name = "android.intent.action.MAIN"/>

				<category android:name = "android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:label = ""
			android:name = ".ShowDinnerActivity"
			android:parentActivityName = ".ShowDinnerActivity"
			>
			<meta-data
				android:name = "android.support.PARENT_ACTIVITY"
				android:value = "com.nullcognition.analytics.MainActivity"
				/>
		</activity>
		<activity
			android:label = ""
			android:name = ".ShowRecipeActivity"
			android:parentActivityName = "com.nullcognition.analytics.ShowRecipeActivity"
			>
			<meta-data
				android:name = "android.support.PARENT_ACTIVITY"
				android:value = ".ShowDinnerActivity"
				/>
		</activity>

		<activity
			android:label = ""
			android:name = ".OrderDinnerActivity"
			android:parentActivityName = ".OrderDinnerActivity"
			>
			<meta-data
				android:name = "android.support.PARENT_ACTIVITY"
				android:value = ".ShowDinnerActivity"
				/>
		</activity>

		<activity
			android:label = ""
			android:name = ".RemoveMealActivity"
			android:parentActivityName = "com.nullcognition.analytics.RemoveMealActivity"
			>
			<meta-data
				android:name = "android.support.PARENT_ACTIVITY"
				android:value = ".ShowDinnerActivity"
				/>
		</activity>
	</application>

</manifest>
